# 运行周期(秒)
PERIOD=
# 上游地址
UPSTREAM_URL=
# 上游用户访问令牌
UPSTREAM_TOKEN=
# 站点地址
STATION_URL=
# 站点超级管理员访问令牌
STATION_TOKEN=
# 价格倍率
PRICE_RATIO=
# SMTP 主机
SMTP_HOST=
# SMTP 端口
SMTP_POST=
# 用户名
SMTP_USER=
# 访问密钥
SMTP_PASSWORD=
# 发件地址
SMTP_FROM=
# 接受信息的邮箱, 若有多个邮箱则用逗号或分号分隔(英文符号)
WARNING_EMAIL=