[Unit]
Description=Price Monitor Service
After=network.target
Wants=network.target

[Service]
Type=simple
User=aihub # 服务器 user 根据服务器情况修改
Group=aihub # 组 根据服务器情况修改
WorkingDirectory=/home/aihub/PriceMonitor # 仓库地址 根据服务器情况修改
Environment="PATH=/home/aihub/PriceMonitor/.venv/bin:/usr/local/bin:/usr/bin:/bin" # 根据服务器情况修改
Environment="PYTHONUNBUFFERED=1"
EnvironmentFile=/home/aihub/PriceMonitor/.env # 根据服务器情况修改
ExecStart=/home/aihub/PriceMonitor/.venv/bin/python /home/aihub/PriceMonitor/main.py # 根据服务器情况修改
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target